@page "/registration"
@layout LoginLayout;

    <section class="main-content">
    <article class="page-left">
    </article>
    <article class="page-right">
        <div class="signin-msg"><GrayText Text="Already have an account?" />
     <button>SIGN IN</button></div>
     <div class= "main-body">
     <div>
      <h2>Welcome to Focus!</h2>
     <h6><GrayText Text="Register your account"/></h6>
     </div>
     <div>
     <form>
<Input Type="text" PlaceHolder="name" Label="Name"/>
<Input Type="email" PlaceHolder="focus001@gmail.com" Label="Email" />
<Input Type="password" PlaceHolder="8 + characher" Label="Password" /> 
<Button ButtonName="Register" />     
     </form> 
     </div>
     </div>
     <SocialMedia  />
    </article>
    </section>
    
