<div class= "socialmedia">
        <div>Create account with</div>
        <div><i class="fa-brands fa-facebook-f"></i></div>
        <div><i class="fa-brands fa-linkedin-in"></i></div>
        <div><i class="fa-brands fa-google"></i></div>
     </div>
     